/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Adicione o segundo background direto no body ou em um wrapper */
    background-image: url('images/pred.jpg');
    background-position: center;
    background-size: cover;
    position: relative; /* Adicione position relative para que os elementos filhos herdem o contexto de empilhamento */
    z-index: 0; /* Defina um z-index para o body (ou wrapper) para garantir que os elementos filhos fiquem acima do background */
  }
  
  /* Primeiro background para a seção principal */
  section.main {
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 70%;
    padding: 20px 0 80px 0;
    position: relative;
    z-index: 1; /* Defina um z-index maior do que o do background para que a seção principal fique acima do segundo background */
  }
  
  /* Estilo do menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 999;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    padding: 15px;
    margin-left: auto; /* Alinha os itens do menu à direita */
  }
  
  .menu li a {
    text-decoration: none;
    color: #fff;
  }
  
  .menu ul {
    margin-left: auto;
  }


  

/* Primeiro background para a seção principal */
section.main {
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 70%;
    padding: 50px 0 80px 0;
    position: relative;
}



.whatsapp {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.whatsapp h1 {
    color: #f1f1f1;
    font-size: 20px;
    margin-bottom: 10px;
}

.whatsapp h1 {
    font-size: 30px;
}

h1.titulo {
    color: #f1f1f1;
    text-align: center;
    font-size: 40px;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os elementos horizontalmente */
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu {
    width: 50%;
    color: antiquewhite;
}

.cartlogo {
    text-align: center;
}

.cartlogo img {
    display: block;
    max-width: 5%;
    height: auto;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    transform: translateX(0px); /* Desloca a imagem 10 pixels para a direita (ajuste conforme necessário) */
}

/* Estilo do segundo background (pred) para o fundo do site inteiro, exceto a seção principal */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/pred.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
}

/* Estilos para as caixas */
.box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px; /* Defina a largura máxima para controlar a largura total do contêiner */
        margin: 0 auto; /* Centralize o contêiner horizontalmente */
    }



.box-container a {
    text-decoration: none;
}

.box-container a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.box1,
.box2,
.box3,
.box4 {
    height: 200px;
    background-color: #255aff;
    border: 5px solid #351b1b7e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    position: relative;
    margin: 15px; /* Adicione uma margem para espaçar as caixas */
}


.box1 h1,
.box2 h1,
.box3 h1,
.box4 h1 {
    color: #f1f1f1;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.zap {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 4px;
}

/* Estilo da div de informações */
.informacoes {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #255aff;
    text-align: center;
    border-radius: 2%;
    margin-bottom: 50px;
}

/* Estilo da lista de serviços */
.service-list {
    list-style:square;
    padding: 20px;
    text-align: left;
    color: #f1f1f1;
}

/* Estilo dos itens da lista */
.service-list li {
    margin: 10px 0;
    padding-left: 20px;
}

/* Estilo do link de aviso de privacidade */
.pdf {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #255aff;
    text-align: center;
    border-radius: 2%;
    margin-bottom: 50px;
}

.pdf h1 {
    color: red;
}

.pdf h2 {
    color: #f1f1f1;
}

.pdf a {
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
}

.pdf-icon {
    font-size: 40px;
}

/* Estilos da seção de aviso "Atenção" */
.informacoes h3 {
    color: red;
    font-size: 40px;
}

.informacoes h4 {
    color: #f1f1f1;
}


.contato {
    text-align: center;  /* Estilos do seu conteúdo aqui */
    width: 100%; /* Para garantir que a imagem ocupe a largura do contêiner */
  }


.contato img {
    box-sizing: border-box;
    padding: 80px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain; /* ou object-fit: cover; dependendo do resultado desejado */
  }


  .loc {

    width: 80%;
    max-width: 900px;
    margin-top: 80px;
    margin-left: 300px;
    padding: 80px;
    background-color: #255aff;
    text-align: center;
    border-radius: 2%;
    margin-bottom: 50px;
  }

  .loc h1 {
    color: #f1f1f1;
  }

  .map { 
    
    text-align: center;
  }